@charset "UTF-8";
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.384);
}

input.botao {
    height: 28px;
    font-weight: bolder;
    margin-top: 15px;
}

div {
    margin-top: 10px;
    font-weight: bolder;
}